Install-ADDSForest -CreateDnsDelegation: -DatabasePath "C:\Windows\NTDS" -DomainMode "Win2012" -DomainName "{{ ad_domain_name }}" -DomainNetbiosName "{{ ad_domain_name_netbios }}" -ForestMode "Win2012" -InstallDns: -LogPath "C:\Windows\NTDS" -NoRebootOnCompletion: -SysvolPath "C:\Windows\SYSVOL" -Force: -SafeModeAdministratorPassword ("{{ ad_safe_mode_password }}" | ConvertTo-SecureString -AsPlainText -Force)
